<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">

    <input class="form-control" type="text" aria-label="Text input with checkbox" placeholder="name" name="name">
    <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-circle-plus"></i></button>
  </div>
</form>

<div class="my-5 text-center">
  <a href="/" class="btn btn-outline-dark rounded-circle"><i class="fa-solid fa-arrow-rotate-left"></i></a>
</div>